import os

class Config:
    API_ID = os.getenv("API_ID", "your_api_id")
    API_HASH = os.getenv("API_HASH", "your_api_hash")
    BOT_TOKEN = os.getenv("BOT_TOKEN", "your_bot_token")
    LOG_GROUP_ID = os.getenv("LOG_GROUP_ID", "your_log_group_id")
